:root{
    --platino: #374957;
    --prin: #184A2C;
    --caht-2: #30553F;
    --chat-1: #008069;
    --secu: #76B536;

    --extra: #E5F0EA;
    --siderbar-n: #BECCC5;
    --siderbar: #F1FFFA;

    
    --werita: #fff;
    --david: #b3b1b1;
    --jairo: #d9d9d964;
    --nigga: #000;

    /*que pedo con el nombre de estos colores? v:*/
}