@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --platino: #374957;
    --prin: #184A2C;
    --chat-2: #30553F;
    --chat-1: #008069;
    --secu: #76B536;

    --extra: #E5F0EA;
    --siderbar-n: #BECCC5;
    --siderbar: #F1FFFA;


    --denisse: #fff;
    --david: #b3b1b1;
    --jairo: #d9d9d964;
    --bielka-xD: #000;

    /* Bellacos los colores xD att:Kevin */
    /*que pedo con el nombre de estos colores? v:*/
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.content-siderbar{
    display: grid;
    grid-template-columns: 18% 82%;
    grid-template-rows: 50%;
}

/* menu */

.nav-cont {
    background-color: var(--siderbar);
    min-width: 265px;
    height: 100vh;
    box-shadow: 1px 1px 5px var(--david);
    transition: all 0.2s;
    z-index: 10;
}

.nav-cont-title {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-cont-title img:nth-last-child(1) {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transition: all .2s;
}

.nav-cont-title img:nth-last-child(2) {
    opacity: 1;
    visibility: visible;
    transition: all .2s;
}

.nav-list {
    position: relative;
    list-style: none;
    margin-top: 50px;
}

.nav-list-item {
    display: flex;
    align-items: center;
    height: 50px;
    margin: 3px 0;
    width: 100%;
    margin-left: -25px;
    z-index: 10;
}

.nav-list-item-a {
    font-size: 16px;
    font-weight: 500;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-decoration: none;
    color: var(--bielka-xD);
}

.nav-list-item-a i {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    z-index: 10;
}

.nav-list-item-a p {
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    z-index: 10;
}

.nav-list-item.active a,
.nav-list-item.active i {
    color: #fff;
}

#active {
    background-color: var(--prin);
    color: var(--denisse);
    border-radius: 22px;
    height: 50px;
    position: absolute;
    left: 15px;
    transition: top .2s linear;
    z-index: 1;
    /*opacity: 0.5;*/
    /*por si acaso dejar este valor comentado*/
}

.active {
    background-color: var(--prin);
    color: var(--denisse);
    border-radius: 22px;
    height: 50px;
    min-width: 225px;
    transition: all .2s;
}

.active a {
    color: var(--denisse);
}

.nav-list-item-a:hover {
    background-color: var(--jairo);
    color: var(--bielka-xD);
    border-radius: 22px;
    width: 230px;
    transition: all .3s;
}

.nav-list-item-a .active:hover {
    background-color: var(--denisse) !important;
    color: var(--denisse);
}

.icon-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    font-size: 24px;
}

/* menu fin */

/* Buscador */

.header-cont {
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 5px var(--david);
}

.hdr-cont {
    display: none;
}

.hdr-cont-1 {
    width: 8%;
    display: flex;
    justify-content: center;
}

/* menu burger */

#swich {
    display: none;
}

#swich-2 {
    display: none;
}

#swich:checked~.cont-sdr{
    display: grid;
    grid-template-columns: 4% 96%;
}

#swich:checked~ .cont-sdr .nc-bgr {
    min-width: 60px;
    transition: all .3s;
}

#swich:checked~ .cont-sdr .nc-bgr .nav-cont-title img:nth-last-child(1) {
    opacity: 1;
    visibility: visible;
    transition: all .2s;
}

#swich:checked~ .cont-sdr .nc-bgr .nav-cont-title img:nth-last-child(2) {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transition: all .2s;
}

#swich:checked~ .cont-sdr .nc-bgr .nl-bgr .nli-bgr {
    width: 50px;
    margin-left: -35px;
}

#swich:checked~ .cont-sdr .active .nli-bgr-a {
    max-width: 50px;
}

#swich:checked~ .cont-sdr .nc-bgr .nl-bgr .active {
    background-color: var(--prin) !important;
    min-width: 50px;
    left: 5px;
    border-radius: 50%;
}

#swich:checked~ .cont-sdr .nc-bgr .nl-bgr .nav-list-item .nli-bgr-a p {
    display: none;
}

#swich:checked~ .cont-sdr .nc-bgr .nl-bgr .nli-bgr:hover {
    border-radius: 50%;
}

/* menu burger fin */

.hdr-cont-1-menu-bgr-1 {
    display: flex;
    align-items: center;
}

.hdr-cont-1-menu-bgr-1 i {
    font-size: 24px;
    margin-top: 10px;
    cursor: pointer;
}

.hdr-cont-1-menu-bgr-2 {
    display: none;
}

.hdr-cont-2 {
    width: 67%;
    display: flex;
    justify-content: center;
}

.hdr-cont-input {
    width: 100%;
    height: 40px;
    padding: 2px 10px;
    border: none;
    border-right: none;
    border-radius: 15px 0 0 15px;
    box-shadow: 1px 1px 5px var(--jairo);
    background-color: var(--extra);
}

.hdr-cont-input:focus {
    outline: none;
}

.hdr-cont-input-btn {
    background-color: transparent;
    width: 40px;
    font-size: 16px;
    border-radius: 0 15px 15px 0;
    border: none;
    border-left: none;
    display: flex;
    cursor: pointer;
    transition: all .5s;
    background-color: var(--extra);
}

.hdr-cont-input-btn:hover {
    background-color: var(--siderbar-n);
}

.hdr-cont-input-btn:focus {
    background-color: var(--david);
}

.hdr-cont-input-btn i {
    margin: auto 5px;
}

.hdr-cont-3 {
    width: 23%;
    display: flex;
    justify-content: space-evenly;
}

.hdr-cont-3-users i {
    font-size: 23px;
    cursor: pointer;
    color: var(--prin);
}

.hdr-cont-3-users {
    font-size: 23px;
    font-weight: 400;
    color: var(--prin);
    cursor: pointer;
}

/* Fin buscador */


/* menu desplegable inicio */
.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-content {
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.dropdown-content.open {
    max-height: 300px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}


/* menu desplegable fin */

/* Cards */

.card-area{
    display: flex;
    margin: 15px;
}

.card{
    width: 300px;
    height: 350px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px #0000005c;
    overflow: hidden;
}

.card img{
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 10px;
}

.cont-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
}

.tl-card{
    font-size: 20px;
}

.cash-card{
    display: flex;
    color: #00570d;
    font-size: 18px;
}

.cord {
    font-size: 10px;
}


.name-card{
    display: flex;
    align-items: center;
    height: 30px;
    width: 100%;
    margin-left: 15px;
    font-size: 15px;
}

.btn-card{
    height: 40px;
    width: 130px;
    border-radius: 15px;
    border: none;
    margin-left: 10px;
    font-weight: 500;
}

/* Carga de cards */

.skeleton{
    background-color: #e3e6e7;
    background-image: linear-gradient(
        90deg,
        rgba(225, 225, 225, 0),
        rgba(225, 225, 225, 0.7),
        rgba(225, 225, 225, 0)
    );
    background-size: 40px 100%;
    background-repeat: no-repeat;
    background-position: left -40px top 0;
    animation: shine 1s ease-in-out infinite;
}

.skel{
    width: 110px;
    height: 30px;
    border-radius: 5px;
}

.p-skel{
    width: 95%;
    height: 140px;
    border-radius: 5px;
    margin: 10px auto;
}

.img-skel{
    width: 100%;
    height: 60%;
}

@-webkit-keyframes shine{
    to{
        background-position: right -40px top 0;
    }
}

@keyframes shine{
    to{
        background-position: right -40px top 0;
    }
}

/* fin carga */

/* fin cards */


/* media queries */

/* Ajustes para pantallas entre 1100px y 1200px */
@media screen and (max-width: 1290px) and (min-width: 1100px) {
    .content-siderbar{
        display: grid;
        grid-template-columns: 22% 78%;
        grid-template-rows: 50%;
    }
    
    .hdr-cont-3 {
        width: 30%;
        display: flex;
        justify-content: space-evenly;
    }

    .hdr-cont-2 {
        width: 64%;
        display: flex;
        justify-content: center;
    }

}


@media screen and (max-width:1100px) {
    .content-siderbar{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50%;
    }
    
    nav {
        position: absolute;
        margin-left: -1000px;
    }

    .hdr-cont-1 {
        display: none;
    }

    .hdr-cont-1-menu-bgr-2 {
        display: flex;
        align-items: center;
    }

    .hdr-cont-3 {
        margin-top: 5px;
    }

    .hdr-cont-3-users i {
        font-size: 30px;
    }

    #swich-2:checked~nav {
        margin-left: 0;
    }

    .hdr-cont {
        width: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hdr-cont-3 {
        width: 30%;
        align-items: center;
    }

    .hdr-cont-3-users {
        font-size: 20px;
        font-weight: 400;
    }

    .hdr-cont-3-users .cont-user-name {
        display: none;
    }

    .item-text {
        display: none;
    }
}

/* Ajustes para pantallas entre 768px y 870px */
@media screen and (max-width: 870px) and (min-width: 769px) {
    nav {
        position: absolute;
        margin-left: -1000;
        /* Cambio el margen a 0 para ajustar */
    }

    .hdr-cont-input,
    .hdr-cont-input-btn {
        display: none;
    }

    .hdr-cont-2 {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    nav {
        position: absolute;
        margin-left: -1000px;
    }

    .hdr-cont-1 {
        display: none;
    }

    .hdr-cont-3 {
        margin-top: 5px;
    }

    .hdr-cont-3-users i {
        font-size: 30px;
    }

    #swich-2:checked~nav {
        margin-left: 0;
    }

    .hdr-cont {
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hdr-cont-3 {
        width: 35%;
        align-items: center;
    }

    .hdr-cont-3-users {
        font-size: 18px;
        font-weight: 400;
    }

    .hdr-cont-3-users .cont-user-name {
        display: none;
    }

    .hdr-cont-input,
    .hdr-cont-input-btn {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    nav {
        position: absolute;
        margin-left: -1000px;
    }

    .hdr-cont-1 {
        display: none;
    }

    .hdr-cont-3 {
        margin-top: 5px;
    }

    .hdr-cont-3-users i {
        font-size: 30px;
    }

    #swich-2:checked~nav {
        margin-left: 0;
    }

    .hdr-cont {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hdr-cont-2 {
        width: 45%;
    }

    .hdr-cont-3 {
        width: 45%;
        align-items: center;
    }

    .hdr-cont-3-users {
        font-size: 18px;
        font-weight: 400;
    }

    .hdr-cont-3-users .cont-user-name {
        display: none;
    }

    .hdr-cont-input,
    .hdr-cont-input-btn {
        display: none;
    }
}

/* media queries fin */